<a href="https://colab.research.google.com/github/Sam-013/abdulsalam013/blob/main/20SW013_Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1

In [1]:
total_points = 174

if total_points <= 50:
    final_result = "Congo! You won a wooden rabbit!"
elif total_points <= 150:
    final_result = "Oh dear, no prize this time."
elif total_points <= 180:
    final_result = "Congo! You won a wafer-thin mint!"
else:
    final_result = "Congo! You won a penguin!"

print(final_result)

Congo! You won a wafer-thin mint!

Task 2 (Guess My Number)

In [2]:
answer = 7
guess = 2

if guess < answer:
    result = "Oops!  Your guess was too low."
elif guess > answer:
    result = "Oops!  Your guess was too high."
elif guess == answer:
    result = "Nice!  Your guess matched the answer!"

print(result)

Oops!  Your guess was too low.

Task 3

In [3]:
state = 'CA'
purchase_amount = 100

if state == 'CA':
    tax_amount = .075
    total_cost = purchase_amount + (purchase_amount * tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == 'MN':
    tax_amount = .095
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == 'NY':
    tax_amount = .089
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

print(result)

Since you're from CA, your total cost is 107.5.

Task 4

In [ ]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

for word in sentence:
  print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

Task 5 (Multiples of 5)

In [ ]:
for x in range(5,31,5):
    print(x)

5
10
15
20
25
30

Task 6 (Extract First Names)

In [ ]:
names_of_them = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
first_name =[name.lower().split()[0] for name in names_of_them]
print(first_name)

['rick', 'morty', 'summer', 'jerry', 'beth']

Task 7 (Multiples of 3)

In [ ]:
multiples_3=[x*3 for x in range (1,20)]
print(multiples_3)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57]

Task 8

In [4]:

scores = {
             "Rick Sanchez": 70,
             "Morty Smith": 35,
             "Summer Smith": 82,
             "Jerry Smith": 23,
             "Beth Smith": 98
          }


passed = [name for name, value in scores.items() if value >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

Task 9

In [5]:

cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))

print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

Task 10

In [6]:

cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for index, height in enumerate(heights):
    s = "{} {}".format(cast[index], height)
    cast[index] = s

print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']