<a href="https://colab.research.google.com/github/Sam-013/DS-A-Lab-Tasks/blob/main/LAB_5_20SW013.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LAB: 05 TASKS
ROLL NUMBER: 20SW013
SECTION-1

TASK 1

In [2]:
import pandas as pd

distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]
planets = ['Earth', 'Saturn', 'Mars', 'Venus', 'Jupiter']

dist_planets = pd.Series(distance_from_sun, index=planets)

speed_of_light = 18
time_light = dist_planets / speed_of_light

close_planets = dist_planets[time_light < 40]

print(close_planets)
print(dist_planets)
print(time_light)

Earth    149.6
Mars     227.9
Venus    108.2
dtype: float64
Earth       149.6
Saturn     1433.5
Mars        227.9
Venus       108.2
Jupiter     778.6
dtype: float64
Earth       8.311111
Saturn     79.638889
Mars       12.661111
Venus       6.011111
Jupiter    43.255556
dtype: float64

TASK 2

In [6]:
import pandas as pd
import numpy as np

pd.options.display.float_format = '{:.1f}'.format

books = pd.Series(data=['Great Expectations', 'Of Mice and Men', 'Romeo and Juliet', 'The Time Machine', 'Alice in Wonderland'])

authors = pd.Series(data=['Charles Dickens', 'John Steinbeck', 'William Shakespeare', ' H. G. Wells', 'Lewis Carroll'])

user_1 = pd.Series(data=[3.2, np.nan, 2.5])

user_2 = pd.Series(data=[5., 1.3, 4.0, 3.8])

user_3 = pd.Series(data=[2.0, 2.3, np.nan, 4])

user_4 = pd.Series(data=[4, 3.5, 4, 5, 4.2])

dat = {
    'Author': authors,
    'Book Title': books,
    'User 1': user_1,
    'User 2': user_2,
    'User 3': user_3,
    'User 4': user_4
}

book_ratings = pd.DataFrame(dat)

book_ratings.fillna(book_ratings.mean(), inplace=True)

print(book_ratings)

                Author           Book Title  User 1  User 2  User 3  User 4
0      Charles Dickens   Great Expectations     3.2     5.0     2.0     4.0
1       John Steinbeck      Of Mice and Men     2.9     1.3     2.3     3.5
2  William Shakespeare     Romeo and Juliet     2.5     4.0     2.8     4.0
3          H. G. Wells     The Time Machine     2.9     3.8     4.0     5.0
4        Lewis Carroll  Alice in Wonderland     2.9     3.5     2.8     4.2

<ipython-input-6-4981ddc1aa4b>:29: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  book_ratings.fillna(book_ratings.mean(), inplace=True)

TASK 3 Mini project: Jupyter notebook, and data files are attached to the teamâ€™s assignment.

Statistics from Stock Data
In this lab we will load stock data into a Pandas Dataframe and calculate some statistics on it. We will be working with stock data from Google, Apple, and Amazon. All the stock data was downloaded from yahoo finance in CSV format. In your workspace you should have a file named GOOG.csv containing the Google stock data, a file named AAPL.csv containing the Apple stock data, and a file named AMZN.csv containing the Amazon stock data. (You can see the workspace folder by clicking on the Jupyter logo in the upper left corner of the workspace.) All the files contain 7 columns of data:

Date Open High Low Close Adj_Close Volume

We will start by reading in any of the above CSV files into a DataFrame and see what the data looks like.

In [ ]:
import pandas as pd

df = pd.read_csv('./GOOG.csv')

df.head()

To Do
You will now load the stock data from Google, Apple, and Amazon into separte DataFrames. However, for each stock data you will only be interested in loading the Date and Adj Close columns into the Dataframe. In addtion, you want to use the Date column as your row index. Finally, you want the DataFrame to recognize the dates as actual dates (year/month/day) and not as strings. For each stock, you can accomplish all theses things in just one line of code by using the appropiate keywords in the pd.read_csv() function. Here are a few hints:

Use the index_col keyword to indicate which column you want to use as an index. For example index_col = ['Open']

Set the parse_dates keyword equal to True to convert the Dates into real dates of the form year/month/day

Use the usecols keyword to select which columns you want to load into the DataFrame. For example usecols = ['Open', 'High']

Fill in the code below:

In [ ]:
google_stock = pd.read_csv('./GOOG.csv', usecols=['Date', 'Adj Close'], parse_dates=['Date'], index_col=['Date'])

apple_stock = pd.read_csv('AAPL.csv', usecols=['Date', 'Adj Close'], parse_dates=['Date'], index_col=['Date'])

amazon_stock = pd.read_csv('AMZN.csv', usecols=['Date', 'Adj Close'], parse_dates=['Date'], index_col=['Date'])

You can check that you have loaded the data correctly by displaying the head of the DataFrames.

In [ ]:
google_stock.head()

You will now join the three DataFrames above to create a single new DataFrame that contains all the Adj Close for all the stocks. Let's start by creating an empty DataFrame that has as row indices calendar days between 2000-01-01 and 2016-12-31. We will use the pd.date_range() function to create the calendar dates first and then we will create a DataFrame that uses those dates as row indices:

In [ ]:
dates = pd.date_range('2000-01-01', '2016-12-31')

all_stocks = pd.DataFrame(index = dates)

To Do
You will now join the the individual DataFrames, google_stock, apple_stock, and amazon_stock, to the all_stocks DataFrame. However, before you do this, it is necessary that you change the name of the columns in each of the three dataframes. This is because the column labels in the all_stocks dataframe must be unique. Since all the columns in the individual dataframes have the same name, Adj Close, we must change them to the stock name before joining them. In the space below change the column label Adj Close of each individual dataframe to the name of the corresponding stock. You can do this by using the pd.DataFrame.rename() function.

In [ ]:
google_stock = google_stock.rename(columns={'Adj Close': 'Google'})

apple_stock = apple_stock.rename(columns={'Adj Close': 'Apple'})

amazon_stock = amazon_stock.rename(columns={'Adj Close': 'Amazon'})

You can check that the column labels have been changed correctly by displaying the datadrames

In [ ]:
google_stock.head()


Now that we have unique column labels, we can join the individual DataFrames to the all_stocks DataFrame. For this we will use the dataframe.join() function. The function dataframe1.join(dataframe2) joins dataframe1 with dataframe2. We will join each dataframe one by one to the all_stocks dataframe. Fill in the code below to join the dataframes, the first join has been made for you:

In [ ]:

all_stocks = all_stocks.join(google_stock)

all_stocks = all_stocks.join(apple_stock)

all_stocks = all_stocks.join(amazon_stock)

You can check that the dataframes have been joined correctly by displaying the all_stocks dataframe

In [ ]:

all_stocks.head()

To Do
Before we proceed to get some statistics on the stock data, let's first check that we don't have any NaN values. In the space below check if there are any NaN values in the all_stocks dataframe. If there are any, remove any rows that have NaN values:

In [ ]:

nan_check = all_stocks.isna().any()


print(nan_check)


all_stocks = all_stocks.dropna()

Now that you have eliminated any NaN values we can now calculate some basic statistics on the stock prices. Fill in the code below

In [ ]:

print("Average Stock Price:")
print(all_stocks.mean())

print("\nMedian Stock Price:")
print(all_stocks.median())

print("\nStandard Deviation of Stock Price:")
print(all_stocks.std())

print("\nCorrelation between Stocks:")
print(all_stocks.corr())


We will now look at how we can compute some rolling statistics, also known as moving statistics. We can calculate for example the rolling mean (moving average) of the Google stock price by using the Pandas dataframe.rolling().mean() method. The dataframe.rolling(N).mean() calculates the rolling mean over an N-day window. In other words, we can take a look at the average stock price every N days using the above method. Fill in the code below to calculate the average stock price every 150 days for Google stock

In [ ]:
rollingMean = google_stock['Google'].rolling(window=150).mean()

print(rollingMean)

We can also visualize the rolling mean by plotting the data in our dataframe. In the following lessons you will learn how to use Matplotlib to visualize data. For now I will just import matplotlib and plot the Google stock data on top of the rolling mean. You can play around by changing the rolling mean window and see how the plot changes.

In [ ]:
%matplotlib inline

import matplotlib.pyplot as plt

plt.plot(all_stocks['Google'])

plt.plot(rollingMean)
plt.legend(['Google Stock Price', 'Rolling Mean'])
plt.show()